<head>
    <link rel="stylesheet" href="assignment02.css">
</head>

<header>
  <h1>Assignment 02</h1>
  <p>by Imagona Codalittle</p>
</header>

<nav>
  <a href="#parta">Part A</a> | 
  <a href="#partb">Part B</a> | 
  <a href="#partc">Part C</a> |
  <a href="#partd">Part D</a>
</nav>

<section>
<hr id="parta" />
<br />
<h2>Part A</h2>
<p>Create CSS and apply it to HTML.</p>
<ul>
  <li>element, class and id selectors</li>
  <li>inline, internal and external CSS</li>
</ul>
<hr />
<p id="Hello">
  Hello, world
</p>
<p class="classy">Classy 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p class="classy">Classy 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p class="classy">Classy 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p id="igottabeme">Not classy. "I gotta be me." Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
</section>

<section>
<hr id="partb" />
<br />
<h2>Part B</h2>
<p>Create CSS and apply it to HTML.</p>
<ul>
  <li>inline, block, and inline-block values of display property</li>
  <li>box model: height, width, padding, border and margin properties</li>
</ul>
<hr />
<div id="d1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="a">Aliquam</span> <span class="a">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>
<div id="d2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="b">Aliquam</span> <span class="b">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>
<div id="d3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="c">Aliquam</span> <span class="c">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>
</section>

<section>
<hr id="partc" />
<br />
<h2>Part C</h2>
<p>Create CSS and apply it to HTML.</p>
<ul>
  <li>absolute, relative sticky, and fixed values of position property</li>
  <li>attribute selector</li>
</ul>
<hr />
<p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
<p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Creative-Tail-Animal-cat.svg/128px-Creative-Tail-Animal-cat.svg.png" alt="cat icon" />
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Creative-Tail-Animal-dog.svg/128px-Creative-Tail-Animal-dog.svg.png" alt="dog icon" />
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Creative-Tail-Animal-butterfly.svg/128px-Creative-Tail-Animal-butterfly.svg.png" alt="butterfly icon" /><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Creative-Tail-Animal-turtle.svg/128px-Creative-Tail-Animal-turtle.svg.png" alt="turtle icon" />
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Creative-Tail-Animal-star-fish.svg/128px-Creative-Tail-Animal-star-fish.svg.png" alt="starfish icon" />
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Creative-Tail-Animal-fish.svg/128px-Creative-Tail-Animal-fish.svg.png" alt="fish icon" />
  
<div id="positionMe">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Creative-Tail-Animal-bird.svg/128px-Creative-Tail-Animal-bird.svg.png" alt="bird icon" /></p>
  <p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
  <p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
  <p class="notused">Positioning/combinator section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ixnay the igpay atinlay.</p>
</div>
</section>

<section>
<hr id="partd" />
<br />
<h2>Part D</h2>
<p>Modify HTML to utilize pre-existing CSS.</p>
<ul>
  <li>pseudo class selectors: hover, nth-child()</li>
  <li>text-align property</li>
</ul>
<hr />
  <p>Table 1. How to turn $48,000 into $1,000,000.</p>
  <table border="1" width="100%">
<thead>
  <tr>
    <th>Initial</th>
    <th>Monthly</th>
    <th>Years</th>
    <th>APY</th>
    <th>Savings</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>100</td>
    <td>100</td>
    <td>10 years</td>
    <td>10%</td>
    <td>45,923.81</td>
  </tr>
  <tr>
    <td>100</td>
    <td>100</td>
    <td>20 years</td>
    <td>10%</td>
    <td>139,100.92</td>
  </tr>
  <tr>
    <td>100</td>
    <td>100</td>
    <td>30 years</td>
    <td>10%</td>
    <td>380,778.35</td>
  </tr>
  <tr>
    <td>100</td>
    <td>100</td>
    <td>40 years</td>
    <td>10%</td>
    <td>1,007,627.37</td>
  </tr>
</tbody>
</table>
  <br />
  
<form accept-charset="UTF-8" action="action_page.php" autocomplete="off" method="GET" target="_blank">
	<fieldset>
	<legend>Survey Respondent</legend>
	<label for="fname">First Name</label>
  <br /> 
  <input name="fname" type="text" placeholder="Chris" /> 
  <br /> 
  <label for="lname">Last Name</label>   <br /> 
	<input name="lname" type="text" placeholder="Jones" /> 
  <br /> <br /> 
    <label for="member">Membership Status</label> 
    <br />
	<input checked="checked" name="member" type="radio" value="member" /> Member <br /> 
	<input name="member" type="radio" value="nonmember" /> Nonmember <br />  <br /> 
	<button type="submit" value="Submit">Submit</button>
	</fieldset>
</form>
  
</section>

<footer>
  <p>&copy; 2020. George Corser. All rights reserved. </p>
</footer>
